@import url("https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap");
:root
{
   --header-height:1.5rem;
   --font-semi:600;
}
:root
{
    --first-color:rgb(133, 133, 133);
    --second-color:#aaaaaa;
}

:root
{
    --body-font:"Josefin Sans", sans-serif;
    --big-font-size:1.8rem;
    --h2-font-size:1.25rem;
    --normal-font-size:0.938rem;
}

@media screen and (min-width:768px)
{
    :root
    {
       --big-font-size:3.5rem;
       --h2-font-size:2rem;
       --normal-font-size:1rem;
    }
}

:root
{
   --mb-1: 0.5rem; 
   --mb-2: 1rem;
   --mb-3: 1.5rem;
   --mb-4: 2rem;
   --mb-5: 2.5rem;
   --mb-6: 3rem;
}

:root
{
    --z-back:-10;
    --z-normal:1;
    --z-tootltip:10;
    --z-fixed:100;
}

*,::before,::after
{
    box-sizing: border-box;
}

html
{
    scroll-behavior: smooth;
}

body
{
    margin: var(--header-height) 0 0 0;
    font-weight: 900;
    background-color: rgb(43, 42, 42);
    text-shadow: 2px 2px 2px rgba(17, 16, 16, 0.788);
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    color: var(--second-color);
}

h1,h2,p
{
    margin: 0;
}

ul
{
    margin: 0;
    padding: 0;
    list-style: none;
}

a
{
    text-decoration: none;  
}

img
{
    max-width: 100%;
    height: auto;
    display: block;
}

.section-title
{
    position: relative;
    font-size: var(--h2-font-size);
    color: var(--first-color);
    margin-top: var(--mb-2);
    margin-bottom: var(--mb-4);
    text-align: center;
    font-weight: bolder;
}

.section-title::after
{
    position: absolute;
    content: '';
    width: 64px;
    height: 0.12rem;
    left: 0;
    right: 0;
    margin: auto;
    top: 2rem;
    background-color: var(--first-color);
}

.section
{
   padding-top: 3rem;
   padding-bottom: 2rem; 
}

.bd-grid
{
    max-width: 1024px;
    display: grid;
    background: rgb(43, 42, 42);
    grid-template-columns: 100%;
    grid-column-gap: 2rem;
    width: calc(100% - 2rem);
    margin-left: var(--mb-2);
    margin-right: var(--mb-2);
}

.l-header
{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgb(43, 42, 42);
    z-index: var(--z-fixed);
    margin-bottom: var(--mb-3);
    box-shadow: 0 3px 4px rgba(255, 10, 63, 0.5);
}

.nav
{
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: var(--font-semi);
}

@media screen and (max-width: 768px)
{
    .nav_menu
    {
        position: fixed;
        top:var(--header-height);
        right: -100%;
        width: 80%;
        height: 100%;
        padding: 2rem;
        border-top-left-radius: 20px;
        background-color:var(--first-color);
        transition: .5s;
    }
}

.nav_item
{
    margin-bottom: var(--mb-5);
}

.nav_link
{
    position: relative;
    color: #fff;
}

.nav_link:hover
{
    position: relative;
}

.nav_link:hover::after
{
    position: absolute;
    content: '';
    width: 100%;
    height: 0.18rem;
    left: 0;
    top: 2rem;
    background-color: rgba(255, 10, 63, 0.795);
}

.nav_logo
{
    color:var(--second-color);
    font-size: var(--h2-font-size);
}

.nav_toggle
{
    color:var(--second-color);
    font-size: 1.5rem;
    cursor: pointer;
}

.active::after
{
    position: absolute;
    content: '';
    width: 100%;
    height: 0.2rem;
    left: 0;
    top: 2rem;
    background-color: #bbbbbb;
    transition: 0.3s;
}

.show
{
    right: 0;
}

.home
{
    height: calc(100vh -3rem);
    row-gap: 1rem;
    padding-top: 5%;
}

.home_data
{
    align-self: center;
}

.typecontainer p
{
    font-size: 18px;
    font-weight: 900;
    font-weight: bolder;
    letter-spacing: 0.1rem;
    margin-bottom: var(--mb-6);
}

.typedtext
{
    color: rgb(170, 150, 194);
}

.cursor
{
    display: inline-block;
    width: 4px;
    height: 16px;
    background-color: rgb(171, 43, 43);
    margin-left: 0.1rem;
    animation: blink 1s infinite;
}

.cursor.typing
{
    animation: none;
}
.home_title 
{
    font-size: var(--big-font-size);
    margin-bottom: 2%;
    line-height: 120%;
}
p.home_title{
    margin-bottom: 5%;
}

.home_title-color
{
    color:var(--first-color);
}

.home_social
{
    display: flex;
    flex-direction: column;
    padding-bottom: 10rem;
}

.home_social-icon
{
    width:max-content;
    margin-bottom: var(--mb-1);
    margin-top: var(--mb-3);
    margin-left: var(--mb-4);
    font-size: 1.5rem;
    color:var(--second-color);
}

.home_social-icon:hover
{
    color: rgba(240, 18, 66, 0.993);
}

.home_img
{
    position: absolute;
    margin-left: 50%;
    margin-bottom: 10%;
    width: 175px;
}

.home_img img
{

    border-radius: 10px;
    border-top-left-radius: 20px;
    box-shadow: 0 8px 14px rgba(175, 171, 171, 0.61);
    border:solid 2px var(--first-color);
}
.button
{
    margin-bottom: 12%;
    display: inline-block;
    background-color: var(--first-color);
    color: #fff;
    box-shadow: 0 4px 10px rgba(175, 171, 171, 0.61);
    padding: 0.75rem 2.5rem;
    font-weight: var(--font-semi);
    border-radius: .5rem;
}

.button:hover
{
    box-shadow: 0 6px 20px rgba(255, 255, 255, 0.788);
}

.about_container
{
    row-gap: 2rem;
    margin-top: var(--mb-4);
    text-align: center;
}

.about_subtitle
{
    margin-bottom: var(--mb-2);
}
.about_img
{
    justify-self: center;
}

.about_img img
{
    width: 200px;
    border-radius: .7rem;
    border:solid 2px var(--first-color);
}

.counting-sec {
    padding: 60px 0;
    text-shadow: 0.5px 0.5px 0.5px #555;
    font-weight: 900;
    width: 100%;
    background-color: rgb(43, 42, 42);
    text-shadow: 2px 2px 2px rgba(10, 10, 10, 0.788);
}

.inner-width {
    max-width: 1200px;
    margin: auto;
    display: flex;
}

.col {
    flex: 1;
    text-align: center;
    font-size: 10px;
    padding: 8px;
    color:rgb(151, 150, 150);;
    text-transform: uppercase;
}

.col i {
    font-size: 25px;
    color: rgb(150, 150, 150);
}

.num {
    font-size: 15px;
    margin: 10px 0;
}

.skills_container
{
    row-gap: 2rem;
    text-align: center;
}

.skills_text
{
    margin-bottom: var(--mb-4);
}
.skills_text,
.skills_data
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    font-weight: var(--font-semi);
    padding: .5rem 1rem;
    margin-bottom: 90px;
    border-radius: .5rem;
    box-shadow: 0 4px 25px rgba(179, 179, 179, 0.849);
}

.skills_icon
{
    font-size: 2rem;
    margin-right: var(--mb-2);
    color: var(--first-color);
}

.skills_names
{
    display: flex;
    align-items: center;
}

.skills_bar
{
    position: absolute;
    /* left: 0; */
    bottom: 0;
    background-color: var(--first-color);
    height: 0.25rem;
    border-radius: .5rem;
    z-index: var(--z-back);
}

.skills_html
{
    width: 90%;
}

.skills_css
{
    width: 90%;
}

.skills_node
{
    width: 80%;
}

.skills_react
{
    width: 60%;
}

.skills_js
{
    width: 80%;
}

.skills_java{
    width: 80%;
}

.skills_c{
    width: 80%;
}

.skills_py{
    width: 90%;
}

.skills_img
{
    border-radius: .5rem;
    width: 100%;
    height: 100%;
    margin: auto;
}

.work
{
    text-align: center;
    padding: 2rem 5%;
}

.work_container
{
    row-gap: 2rem;
}

.work_img
{
    box-shadow: 0 2px 10px rgba(165, 164, 165, 0.61);
    border-radius: .5rem;
    overflow: hidden;
    padding: 0.5rem;
}

.work_img img{
    transition: 1s;
    cursor: pointer;
}

.work_img img:hover{
    transform: rotate(360deg) scale(1.2);
}

.footer
{
    background-color: var(--second-color);
    color: rgb(159, 105, 204);
    text-align: center;
    border-top-right-radius: 100px;
    border-top-left-radius: 100px;
    box-shadow: 0 2px 20px #c0c0c0 ;
    font-weight: var(--font-semi);
    padding: 1.5rem 0;
    background-color: rgb(59, 58, 58);
}

.footer_title
{
    font-size: 2rem;
    margin-bottom: var(--mb-3);
}

.footer_social
{
    margin-bottom: var(--mb-3);
}

.footer_icon
{
    font-size: 1.5rem;
    color:rgb(202, 202, 202);
    margin: 0 var(--mb-2);
    transition: 0.3s;
}
.footer_icon:hover
{
    font-size: 2rem;
}

@media screen and (min-width:768px)
{
    body
    {
        margin: 0;
    }
   
    .section
    {
        padding-top: 4rem;
        padding-bottom: 3rem;
    }
    .section-title
    {
        margin-bottom: var(--mb-6);
    }
    .section-title::after
    {
        width: 80px;
        top: 3rem;
    }
    .nav
    {
        padding: 14px;
        height: calc(var(--header-height)+1rem);
    }
    
    .nav_list
    {
        display: flex;
        padding-top: 0;
    }
    .nav_toggle
    {
        display: none;
    }
    .nav_item
    {
        margin-left: var(--mb-6);
        margin-bottom: 0;
    }
    .nav_link 
    {
        color: var(--second-color);
    }

    .home
    {
        height: 100vh;
    }

    .home_data
    {
        align-self: flex-end;
    }

    .typecontainer p
    {
        font-size: 38px;
        font-weight: 900;
        font-weight: bolder;
        letter-spacing: 0.1rem;
        padding-bottom: 10px;
    }

    .cursor
    {
        display: inline-block;
        width: 6px;
        height: 35px;
        background-color: #ccc;
        margin-left: 0.1rem;
        animation: blink 1s infinite;
    }

    .home_social
    {
        padding-top: 0;
        padding-bottom: 2.5rem;
        flex-direction: row;
        align-self: flex-end;
    }

    .home_social-icon
    {
        margin-bottom: 0;
        margin-right: var(--mb-4);
    }
    .home_img
    {
        width: 1080px;
        bottom: 15%;
        padding-left: 35%;
    }
    .home_img img
    {
        border-radius: 50px;
        border: solid 2px var(--first-color);
    }
    .about_container, .skills_container
    {
        grid-template-columns: repeat(2,1fr);
        align-items: center;
        text-align: initial;
    }
    .about_img img
    {
        width: 300px;
    }
    .counting-sec
    {
        padding: 10px 0;
    }
    .col{
        padding: 10px;
    }
    .col i{
        font-size: 40px;  
    }
    .num{
        font-size: 40px;
        margin: 20px 0;
    }

    .skills_img
    {
        border-radius: .5rem;
        width: 55%;
        height: 55%;
        margin: auto;
    }
    .work_container
    {
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: repeat(2,1fr);
        column-gap: 2rem;
    }
}

@media screen and (min-width:1024px)
{
    .bd-grid{
        margin-left: auto;
        margin-right: auto;
    }
    .home_img
    {
        right: 10%;
    }
}
